<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="form_first_number">
    Multiply this:
  </label>
  <input id="form_first_number" name="first_number">
  <label for="form_second_number">
    by this:
  </label>
  <input id="form_second_number" name="second_number">
  <button>Multiply!</button>

</form>
